.auth-main-div {
	display: flex;
	justify-content: space-between;
	height: 75vh;
	padding-left: 14%;
	padding-right: 14%;
}

.left-column,
.right-column {
	background-color: #ffffff;
	margin: 0 3%;
	padding: 2%;
 	border: 2px solid #007bff;
	border-radius: 10px;
	text-align: center;
	flex: 1;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	overflow-y: auto;
	max-width: 35%;
}

.right-column {
	padding-right: 10px;
}

.right-column::-webkit-scrollbar {
	width: 0.3vw;
}

.right-column::-webkit-scrollbar-track {
	display: none;
	margin-right: 0.5vw;
}

.right-column::-webkit-scrollbar-thumb {
	background: #007bff;
	border-radius: 50px;
	margin: 0;
}

.left-column h2,
.right-column h2 {
	color: #007bff;
	font-size: 23px;
	margin-top: 7%;
	margin-bottom: 10%;
	padding: 10px;
}

.form-group label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

.form-group input,
.form-group select {
	width: 80%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #007bff;
	border-radius: 5px;
}

button[type="submit"] {
	background-color: #007bff;
	color: #ffffff;
	padding: 10px 20px;
	margin-top: 5%;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #0056b3;
	color: #ffffff;
}
