#user-profile-main-div {
	height: 75vh;
	margin-left: 6%;
	margin-right: 6%;
	border-radius: 10px;
	border: 2px solid rgb(0, 255, 0);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	padding: 2%;
	background-color: #ffffff;
}
