<div id="user-profile-main-div">
	<h2>Personal Data</h2>
	
	<!-- Simple Display -->
	<div *ngIf="!editMode" class="user-profile-content">
		<div class="profile-section">
			<label>Social Security Number:</label>
			<span>{{ personne.numeroSecu }}</span>
		</div>
	
		<div class="profile-section">
			<label>Last Name:</label>
			<span>{{ personne.nom }}</span>
		</div>
	
		<div class="profile-section">
			<label>First Name:</label>
			<span>{{ personne.prenom }}</span>
		</div>
	
		<div class="profile-section">
			<label>Email:</label>
			<span>{{ userProfile.email }}</span>
		</div>
	
		<div class="profile-section">
			<label>Birthdate:</label>
			<span>{{ personne.naissance }}</span>
		</div>
	
		<div class="profile-section">
			<label>Nationality:</label>
			<span>{{ personne.nationalite }}</span>
		</div>
	
		<div class="profile-section">
			<label>Gender:</label>
			<span>{{ userProfile.genre }}</span> <!-- <span *ngIf="personne.numeroSecu">{{ userProfile.genre == 'HOMME' ? 'Male' : 'Female' }}</span> -->
		</div>
	
		<div class="profile-section">
			<label>Phone Number:</label>
			<span *ngIf="personne.numeroSecu">{{ userProfile.phoneNumber == '0null' ? 'N/A' : userProfile.phoneNumber }}</span>
		</div>
	
		<div *ngIf="personne.numeroSecu" class="profile-button-div">
			<button (click)="toggleEditFields()">Edit Fields</button>
		</div>
	</div>
	
	<!-- Editing Display -->
	<div *ngIf="editMode" class="user-profile-content">
		<div class="profile-section">
			<label>Social Security Number:</label>
			<span>{{ personne.numeroSecu }}</span>
		</div>
	
		<div class="profile-section">
			<label>Last Name:</label>
			<span>{{ personne.nom }}</span>
		</div>
	
		<div class="profile-section">
			<label>First Name:</label>
			<span>{{ personne.prenom }}</span>
		</div>
	
		<div class="profile-section">
			<label>Email:</label>
			<input [(ngModel)]="userProfile.email" (change)="saveEmail($event)"/>
		</div>
	
		<div class="profile-section">
			<label>Birthdate:</label>
			<span>{{ personne.naissance }}</span>
		</div>
	
		<div class="profile-section">
			<label>Nationality:</label>
			<input [(ngModel)]="personne.nationalite" (change)="saveNationality($event)"/>
		</div>
	
		<div class="profile-section">
			<label>Gender:</label>
			<span>{{ userProfile.genre }}</span> <!-- <span *ngIf="personne.numeroSecu">{{ userProfile.genre == 'HOMME' ? 'Male' : 'Female' }}</span> -->
		</div>
	
		<div class="profile-section">
			<label>Phone Number:</label>
			<input [(ngModel)]="userProfile.phoneNumber" (change)="savePhone($event)" />
		</div>
	
		<div class="profile-button-div">
			<button (click)="toggleEditFields()">Cancel</button>
			<button (click)="saveChanges()">Save Changes</button>
		</div>
	</div>
</div>
