<div id="welcome-content">
	<h1 id="welcome">Welcome to FindYourFather !</h1>
	<p class="welcome-text"><img class="logo" src="../../../favicon.ico">
		FindYourFather is a comprehensive and user-friendly platform dedicated to helping you uncover and build your family tree, connecting you with your ancestral past and preserving your family's legacy.
	</p>
	<p class="welcome-text"><img class="logo" src="../../../favicon.ico">
		Explore Your Ancestry: Our platform empowers you to embark on an exciting journey of self-discovery. Trace your family's roots, unravel hidden stories, and delve deep into your genealogical history. With a wealth of genealogical records and resources at your fingertips, you can piece together the puzzle of your family's heritage.
	</p>
	<p class="welcome-text"><img class="logo" src="../../../favicon.ico">
		Connect with Relatives: FindYourFather provides a unique space to connect with relatives you may have never known existed. Through our intuitive interface, you can share information, collaborate on your family tree, and rekindle relationships with long-lost family members. The joy of discovering new connections awaits you.
	</p>
	<p class="welcome-text"><img class="logo" src="../../../favicon.ico">
		Join us on the journey of rediscovery and make FindYourFather your family's digital home. Start exploring your family's history and forging new connections today. Welcome to the world of FindYourFather, where the past comes alive, and your family's story is waiting to be told.
	</p>
</div>