<div *ngIf="invitation">
    <div class="invitationData">
        <div id="invitationText">
            <p>
                {{ invitation!.user.prenom }} {{ invitation!.user.nom }} wants you to be {{ invitation!.root.prenom }} {{ invitation!.root.nom }}'s {{invitation!.invitation.relation.toLowerCase()}}
            </p>
        </div>
        <div id="invitationButtons">
            <button class="invitationButton" (click)="acceptInvitation()">&#10003;</button>
            <button class="invitationButton" (click)="refuseInvitation()">X</button>
        </div>
    </div>
</div>
<hr>