<div>
	<div class="personneData">
		<div>
			<p>{{personne!.prenom}} {{personne!.nom}}</p>
		</div>
		<div>
			<button class="personneDataButton" (click)="addingConnexionForm_ShowButton()">+</button>
			<button class="personneDataButton" (click)="removingConnexionForm_ShowButton()">-</button>
		</div>
	</div>
	
	<div>
		<div *ngIf="showingAddingConnexionForm" class="editingLinkDiv">
			<p><b>TODO:</b> Formulaire de création de lien</p>
		</div>
		
		<div *ngIf="showingRemovingConnexionForm" class="editingLinkDiv">
			<p><b>TODO:</b> Formulaire de suppression de lien</p>
		</div>
	</div>
</div>

<hr>