<div>
	<div class="personneData">
		<div>
			<p>{{personne!.prenom}} {{personne!.nom}}</p>
		</div>
		<div>
			<button class="addConnexion" (click)="addingConnexionForm_ShowButton()">+</button>
			<button class="deleteConnexion" (click)="removingConnexionForm_ShowButton()">-</button>
		</div>
	</div>
	
	<div class="editingLinkDiv">
		<div *ngIf="showingAddingConnexionForm">
			<p>Add test</p>
		</div>
		
		<div *ngIf="showingRemovingConnexionForm">
			<p>Remove test</p>
		</div>
	</div>
</div>

<hr>