.personneData {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addConnexion,.deleteConnexion {
    color: white;
    font-weight: bold;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: filter 0.3s;
    
}

.addConnexion:hover,.deleteConnexion:hover {
    filter: brightness(0.8);
    border: white 1px solid;
}

.addConnexion {
    background-color: green;
}

.deleteConnexion {
    background-color: red;
}
