<div>
	<div class="personneData">
		<div>
			<p>[{{personne!.id}}]	{{personne!.prenom}} {{personne!.nom}}</p>
		</div>
		<div>
			<button class="personneDataButton" (click)="addingConnexionForm_ShowButton()">+</button>
			<button class="personneDataButton" (click)="removingConnexionForm_ShowButton()">-</button>
		</div>
	</div>
	
	<div>
		<div *ngIf="showingAddingConnexionForm" class="editingLinkDiv">
		    <form id="add-relation-form" class="family-tree-form">
		    	<br>
		        <label for="relationToAddSelect">Relation :</label>
		        <select id="relationToAddSelect" name="relationToAdd" required>
		        	<option value=""></option>
		            <option value="child">Child</option>
		            <option value="father">Father</option>
		            <option value="mother">Mother</option>
		        </select>
				<br>
		        <div class="form-group">
		            <label for="lastNameInput">Last Name :</label>
		            <input type="text" id="lastNameInput" name="lastName" required>
		        </div>
				<br>
		        <div class="form-group">
		            <label for="firstNameInput">First Name :</label>
		            <input type="text" id="firstNameInput" name="firstName" required>
		        </div>
				<br>
		        <div class="form-group">
		            <label for="birthdateInput">Birthdate :</label>
		            <input type="date" id="birthdateInput" name="birthdate">
		        </div>
				<br>
		        <div class="form-group">
		            <label for="ssnInput">SSN :</label>
		            <input type="number" id="ssnInput" name="ssn" required>
		        </div>
				<br>
		        <div class="form-group">
		            <label for="nationalityInput">Nationality :</label>
		            <input type="text" id="nationalityInput" name="nationality">
		        </div>
				<br>
		        <div class="form-group">
		            <label for="genderSelect">Gender :</label>
		            <select id="genderSelect" name="gender" required>
		            	<option value=""></option>
		                <option value="male">Male</option>
		                <option value="female">Female</option>
		            </select>
		        </div>
				<br>
		        <button type="submit" (click)="addRelation()">Add relation</button>
		    </form>
		</div>
		
		<div *ngIf="showingRemovingConnexionForm" class="editingLinkDiv">
		    <form id="remove-relation-form" class="family-tree-form">
		        <br>
		        <label for="relationToRemoveSelect">Relation :</label>
		        <select id="relationToRemoveSelect" name="relationToRemove" required>
		            <option value="mother">mother</option>
		            <option value="mother">father</option>
		        </select>
		        <br>
		        <button type="submit" (click)="removeRelation()">Remove relation</button>
		    </form>
		</div>
	</div>
</div>

<hr>